header {
  text-align: center;
  text-transform: uppercase;
  background-color: lightblue;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  text-align: center;
  background-color: red;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 5px solid black;
}

.h3 {
  text-align: center;
  background-color: lightgreen;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}
